h1,h2{
    font-family: 'Oswald', sans;
    }
body{
    font-family:'Open Sans', sans;
    color:yellow;
    width:950px;
    margin: 10px 50px 10px 50px;
    background-color: black;
    }
li{
    display:inline;
    padding-left: 60px;
    padding-right: 30px;
}